.jumbotron{
  background-color: white;
  color: rgb(140, 0, 255);
  padding: 80px 0;
  font-style: bold;
  text-align: center;
}
.brand-icon{
  font-size:70px;
}
.display-1{
  padding-bottom: 20px;
  font-size:80px;
  font-style: bold;
}
.card-columns{
  background-color: rgb(241, 241, 241);
}
